version: '3'

services:
  db:
    image: postgres:13.10
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: alexrashkin/foodgram_backend
    env_file: .env
    volumes:
      - static:/backend_static/
      - media:/media/
    entrypoint: ["./entrypoint.sh"]
    depends_on:
      - db

  frontend:
    image: alexrashkin/foodgram_frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static
      - ./frontend/:/app/result_build/

  nginx:
    image: alexrashkin/foodgram_nginx
    env_file: .env
    volumes:
      - static:/backend_static/
      - media:/media/
      - ./nginx/nginx_ssl.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/usr/share/nginx/html/
      - ./docs/:/usr/share/nginx/html/api/docs/     
      - /cert_fullchain.pem:/etc/letsencrypt/live/foodgram-project.myvnc.com/fullchain.pem 
      - /cert_privkey.pem:/etc/letsencrypt/live/foodgram-project.myvnc.com/privkey.pem 
    ports:
      - 80:80
      - 443:443
    depends_on:
      - frontend
      - backend

volumes:
  pg_data:
  static:
  media:
